body{
    font-family: Faster One, sans-serif;
    font-size: large;
    background-image: url(../img/girl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #000;
    opacity: 95%;
}

nav > a{
	text-decoration: none;
	color: #B9BC18;
	font-weight: 800;
}

nav ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	padding: 0;
	width: 100%;
}

nav ul li{
	text-align: center;
	width: 100%;
}

nav ul li a{
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #B9BC18;
}

#marketing{
    display: flex;
    text-align: center;
    align-items: center;
}



#contato{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
}

#contato h2{
	color: #000000;
}

footer{
	text-align: center;
	padding: 10px;
	background-color: #000;
	color: #FFFFFF;
    width: 100%;
}

footer a{
	text-decoration: none;
	color: #B9BC18;
}

@media screen and (min-width: 786px){
	nav{
		flex-direction: row;
		justify-content: space-around;
	}

	nav ul{
		flex-direction: row;
		width: 70%;
	}

    #contato{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		max-width: 500px;
		margin: 0 auto;
	}

    #contato h2, #contato p{
		width: 100%;
	}
}